spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=
stripe.secret.key=
aws.region=
aws.bucket=
admin.password=
app.base-url=
app.cors.origins=
admin.jwt.secret=
admin.jwt.expiry-hours=