spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=
stripe.secret.key=
aws.region=
aws.bucket=
app.base-url=
app.cors.origins=
admin.password=
admin.jwt.secret=<at-least-32-characters>
admin.jwt.expiry-hours=